[submodule "libraries/Adafruit_MAX31865"]
	path = libraries/Adafruit_MAX31865
	url = git@github.com:orri93/Adafruit_MAX31865.git
[submodule "libraries/Adafruit_SSD1306"]
	path = libraries/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
[submodule "libraries/Adafruit-GFX-Library"]
	path = libraries/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "libraries/GosDebug"]
	path = libraries/GosDebug
	url = git@github.com:orri93/arduinodebug.git
[submodule "libraries/GosSort"]
	path = libraries/GosSort
	url = git@github.com:orri93/arduinosort.git
[submodule "libraries/GosMedian"]
	path = libraries/GosMedian
	url = git@github.com:orri93/arduinomedian.git
[submodule "libraries/GosDisplay"]
	path = libraries/GosDisplay
	url = git@github.com:orri93/arduinodisplay.git
[submodule "libraries/GosFormat"]
	path = libraries/GosFormat
	url = git@github.com:orri93/arduinoformat.git
[submodule "gos/ArduinoTools"]
	path = gos/ArduinoTools
	url = git@github.com:orri93/arduinotools.git
[submodule "libraries/U8g2_Arduino"]
	path = libraries/U8g2_Arduino
	url = https://github.com/olikraus/U8g2_Arduino.git
[submodule "libraries/Arduino-PID-Library"]
	path = libraries/Arduino-PID-Library
	url = git@github.com:orri93/Arduino-PID-Library.git

[submodule "libraries/GosTick"]
	path = libraries/GosTick
	url = git@github.com:orri93/arduinotick.git
[submodule "libraries/ArduinoModbusSlave"]
	path = libraries/ArduinoModbusSlave
	url = https://github.com/yaacov/ArduinoModbusSlave.git
[submodule "libraries/GosSensor"]
	path = libraries/GosSensor
	url = git@github.com:orri93/arduinosensor.git
[submodule "libraries/PWFusion_MAX31865"]
	path = libraries/PWFusion_MAX31865
	url = git@github.com:orri93/PWFusion_MAX31865.git
  
[submodule "libraries/GosMax31865"]
	path = libraries/GosMax31865
	url = git@github.com:orri93/arduinomax31865.git
[submodule "gos/ArduinoTesting"]
	path = gos/ArduinoTesting
	url = git@github.com:orri93/arduinotesting.git
[submodule "libraries/GosMax6675"]
	path = libraries/GosMax6675
	url = git@github.com:orri93/arduinomax6675.git
[submodule "libraries/GosTemplates"]
	path = libraries/GosTemplates
	url = git@github.com:orri93/arduinotemplates.git
[submodule "libraries/GosMcp3208"]
	path = libraries/GosMcp3208
	url = git@github.com:orri93/arduinomcp3208.git
[submodule "libraries/GosSinLed"]
	path = libraries/GosSinLed
	url = git@github.com:orri93/arduinosinled.git
[submodule "libraries/FixedPointsArduino"]
	path = libraries/FixedPointsArduino
	url = git@github.com:orri93/FixedPointsArduino.git
[submodule "gos/ArduinoUnitTesting"]
	path = gos/ArduinoUnitTesting
	url = git@github.com:orri93/arduinounittesting.git
[submodule "libraries/Bounce2"]
	path = libraries/Bounce2
	url = git@github.com:orri93/Bounce2.git
[submodule "libraries/AnalogButtons"]
	path = libraries/AnalogButtons
	url = git@github.com:orri93/AnalogButtons.git
[submodule "libraries/AnalogMultiButton"]
	path = libraries/AnalogMultiButton
	url = git@github.com:orri93/AnalogMultiButton.git
[submodule "libraries/RS485-Arduino-Library"]
	path = libraries/RS485-Arduino-Library
	url = https://github.com/Protoneer/RS485-Arduino-Library.git
[submodule "libraries/MAX485"]
	path = libraries/MAX485
	url = git@github.com:orri93/MAX485.git
[submodule "libraries/ModbusMaster"]
	path = libraries/ModbusMaster
	url = git@github.com:orri93/ModbusMaster.git
[submodule "libraries/AltSoftSerial"]
	path = libraries/AltSoftSerial
	url = git@github.com:orri93/AltSoftSerial.git
[submodule "extern/libmodbus"]
	path = extern/libmodbus
	url = https://github.com/orri93/libmodbus.git

[submodule "libraries/OneWire"]
	path = libraries/OneWire
	url = https://github.com/PaulStoffregen/OneWire.git
[submodule "libraries/Arduino-Temperature-Control-Library"]
	path = libraries/Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library.git
